
<h1>commit</h1>



<div class="container">
  <br>
  <h4>
    <mark>Car:</mark>{{describeChaildCar.marka}}
    <small>{{describeChaildCar.model}}</small>
  </h4>
  <div class="alert alert-success">
    Vechicle characteristics:
    <ul>
      <li>Vachicle speed: <strong>{{describeChaildCar.speed}}km</strong></li>
      <li>Vachicle color: <strong>{{describeChaildCar.colorCar}}</strong></li>
      <li>Color salon: <strong>{{describeChaildCar.colorSalon}}</strong></li>
      <li>Color wheel: <strong>{{describeChaildCar.colorWheels}}</strong></li>
    </ul>

  </div>
