

<div class="main-container">
  <div class="left-container">
    <left
    (typeCar)="watchAllTypesCars($event)"
    ></left>

    <div class="alert alert-info">
      <ul>
        <li *ngFor="let car of typesCar" (click)="selectCar(car)">
          <a href="#">{{car.marka}} {{car.model}} </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="right-container">
    <ng-container *ngIf="describeCar; else showEmptyCar">
      <right [describeChaildCar]="describeCar"></right>
    </ng-container>
    <ng-template #showEmptyCar> There is no car. Chose at least one from the list</ng-template>
  </div>
</div>
