<div class="main-container">
  <div class="left-container">
    <left (typeCar)="watchAllTypesCars($event)"></left>

    <div class="alert alert-info">
        <ng-container *ngIf="filteredArray.length; else noCars">
          <div *ngFor="let car of filteredArray">
              <a href="#" (click)="selectCar(car)">{{car.marka}} {{car.model}}</a>
          </div>
        </ng-container>
    </div>
  </div>

  <div class="right-container">
    <ng-container *ngIf="describeCar; else showEmptyCar">
      <right [describeChaildCar]="describeCar"></right>
    </ng-container>
  </div>
</div>

<ng-template #noCars>
  <p>Try again: (big, mini or sedan)</p>
</ng-template>

<ng-template #showEmptyCar> There is no car. Chose at least one from the list</ng-template>
